:root {
    --navy: #13293d;
    --main-text: #fff;
    --navlink-color: #d8a47f;
    --shadow: #aaaaaa;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--navy);
    color: var(--main-text);
}

nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}  

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    display: flex;
    font-size: 32px;
}

p {
    display: inline;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

nav a { 
    color: var(--main-text); 
    text-decoration:none;
}

.section {
    justify-content: center;
    flex-direction: row;
}

.topics {
    margin: 32px 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--navy);
    color: var(--main-text);
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 3%;
}

.about-me-img {
    height: 10%;
    width: 10%;
    display: inline-block;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card img {
    height: 40%;
    width: 30%;
    background-color: grey;
    padding: 2%;
    margin: 5%;
    opacity: 0.5;
    transition: 0.3s;
}

.card img:hover {
    opacity: 1;
    background-color: gold;
  }

section ul {
    list-style-type: none;
}

section li {
    display: inline-block;
    margin: 45px;
    margin-left: 200px;
    color: black;
    font-size: 36px;
}

section a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .card img {
      flex-direction: column;
      align-items: center;
    }
  }

@media screen and (max-width: 780px) {
    .card img {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

@media screen and (max-width: 768px) {
    .card img {
      flex-direction: column;
      align-items: center;
    }
  }